@import url(http://fonts.googleapis.com/css?family=Muli);
body {
padding-top: 70px;
background: url(https://lh3.googleusercontent.com/-hfOvs79mpYE/VUxUkpKS6tI/AAAAAAAAAEU/H5Hu5rYZOuU/s426/bg1.gif) repeat scroll 0% 0% transparent;
}
h1, h2 {
    color: #333333;
    font-family: Helvetica,Arial;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.1em;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;  
}

.caption {
color: #1E1E1E;
font-family: 'Muli',Helvetica,Arial,Georgia,Times New Roman;
font-size: 18px;
line-height: 24px;
text-align: justify;
text-shadow: 0 1px 0 #FFFFFF;
}

.caption h2{
color: #333;
font-family: Helvetica,Arial;
font-size: 36px;
font-weight: bold;
line-height: 1.1em;
padding-bottom: 5px;
text-shadow: 0 1px 0 #fff;
text-align: left;
}

.top-bar {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(https://lh3.googleusercontent.com/--y49xiXoG7g/VUxU3bhMF5I/AAAAAAAAAE4/rxK5kCGxE08/w426-h237/bar.png);
    background-origin: padding-box;
    background-position: center top;
    background-repeat: repeat;
    background-size: auto auto;
    height: 3px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}

.plain-bar {
background: url(https://lh3.googleusercontent.com/--y49xiXoG7g/VUxU3bhMF5I/AAAAAAAAAE4/rxK5kCGxE08/w426-h237/bar.png) repeat scroll 0% 0% transparent;
padding-top: 2px;
}

.footer {
color:#FBFBFB;
background-color:#FBFBFB;
padding-bottom:0px;
}
.footer p {
    margin: 20px 0;
	color: #999999;
	float:left;
}
.header-logo {
padding-left: 15px;
padding-top: 15px;
float:left;
}
.footer-logo {
padding-right: 20px;
padding-top: 15px;
float:left;
}

.box-heading {
color: #6E6E6E !important;
font-weight: bold;
}

.breadcrumb {
  padding: 7px 14px;
  margin: 0 0 18px;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(to bottom, #ffffff, #f5f5f5);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
.breadcrumb > li {
  display: inline-block;
  text-shadow: 0 1px 0 #ffffff;
}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "\00BB";
    padding: 0 5px;
}
.breadcrumb .divider {  
  color: #999999;
}
.breadcrumb .active a {
  color: #333333;
}
.navbar-nav {
    margin: 0 -15px !important;
    background-color: #fbfbfb !important;
}
